In [1]:
import os

from pyspark.sql import SparkSession
from pyspark import SparkConf

os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['YARN_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['PYSPARK_PYTHON'] =  'python3.9'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'python3.9'
os.environ['HADOOP_USER_NAME']='ssenigov'

In [2]:
conf = SparkConf().setAppName('Examine_Print_Opt').setMaster('local[1]')\
     .set("spark.executor.instances", 1)
spark = SparkSession.builder.config(conf=conf).getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/11 08:41:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/11 08:41:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/07/11 08:41:29 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/07/11 08:41:29 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/07/11 08:41:29 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
dfGuests = spark.createDataFrame([
    {"id": 1, "age": 42, "name": "Hyukjin Kwon", "dept": "Asian UN Corporation Finance Department", "gender": "M", "seat": "A51"},
    {"id": 2, "age": 50, "name": "Takuya Ueshin", "dept": "Hong-Kong IBM Science Department", "gender": "M", "seat": "B12"},
    {"id": 3, "age": 61, "name": "Xinrong Meng", "dept": "East Union Corp Inc Sales", "gender": "F", "seat": "A11"},
    {"id": 4, "age": 27, "name": "Haejoon Lee", "dept": "Indonisia State Budgets & Resources Department", "gender": "M", "seat": "C20"}
])

In [4]:
dfGuests.show()

+---+--------------------+------+---+-------------+----+
|age|                dept|gender| id|         name|seat|
+---+--------------------+------+---+-------------+----+
| 42|Asian UN Corporat...|     M|  1| Hyukjin Kwon| A51|
| 50|Hong-Kong IBM Sci...|     M|  2|Takuya Ueshin| B12|
| 61|East Union Corp I...|     F|  3| Xinrong Meng| A11|
| 27|Indonisia State B...|     M|  4|  Haejoon Lee| C20|
+---+--------------------+------+---+-------------+----+

In [5]:
dfGuests.show(truncate=False)

+---+----------------------------------------------+------+---+-------------+----+
|age|dept                                          |gender|id |name         |seat|
+---+----------------------------------------------+------+---+-------------+----+
|42 |Asian UN Corporation Finance Department       |M     |1  |Hyukjin Kwon |A51 |
|50 |Hong-Kong IBM Science Department              |M     |2  |Takuya Ueshin|B12 |
|61 |East Union Corp Inc Sales                     |F     |3  |Xinrong Meng |A11 |
|27 |Indonisia State Budgets & Resources Department|M     |4  |Haejoon Lee  |C20 |
+---+----------------------------------------------+------+---+-------------+----+

In [6]:
dfGuests.show(truncate=False, vertical=True)

-RECORD 0------------------------------------------------
 age    | 42
 dept   | Asian UN Corporation Finance Department
 gender | M
 id     | 1
 name   | Hyukjin Kwon
 seat   | A51
-RECORD 1------------------------------------------------
 age    | 50
 dept   | Hong-Kong IBM Science Department
 gender | M
 id     | 2
 name   | Takuya Ueshin
 seat   | B12
-RECORD 2------------------------------------------------
 age    | 61
 dept   | East Union Corp Inc Sales
 gender | F
 id     | 3
 name   | Xinrong Meng
 seat   | A11
-RECORD 3------------------------------------------------
 age    | 27
 dept   | Indonisia State Budgets & Resources Department
 gender | M
 id     | 4
 name   | Haejoon Lee
 seat   | C20

In [5]:
--
spark.stop()