In [1]:
import os, sys
os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['YARN_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['PYSPARK_PYTHON'] =  'python3.9'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'python3.9'
os.environ['HADOOP_USER_NAME']='ssenigov'

from pyspark.sql import SparkSession
from pyspark import SparkConf

In [ ]:
conf = SparkConf().setAppName('IsDistinctFrom').setMaster('yarn')
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:
sql = """
   select * from values 
    (1, 'Anna',  1), 
    (2, 'Bob',   1), 
    (3, 'Cindy', Null),
    (4, 'Lora', 0),
    (5, 'Henry',  Null),
    (6, 'John',  3) as (cust_id, emp_name, children)
"""
spark.sql(sql).createOrReplaceTempView('tbl')

In [4]:
spark.sql("""
  select emp_name, children
   from tbl
  where children > 0 """).show()

+--------+--------+
|emp_name|children|
+--------+--------+
|    Anna|       1|
|     Bob|       1|
|    John|       3|
+--------+--------+

In [5]:
spark.sql("""
  select emp_name, children
   from tbl
  where children != 0 """).show()

+--------+--------+
|emp_name|children|
+--------+--------+
|    Anna|       1|
|     Bob|       1|
|    John|       3|
+--------+--------+

In [6]:
spark.sql("""
  select emp_name, children
   from tbl
  where children is distinct from 0 """).show()

+--------+--------+
|emp_name|children|
+--------+--------+
|    Anna|       1|
|     Bob|       1|
|   Cindy|    null|
|   Henry|    null|
|    John|       3|
+--------+--------+

In [62]:
spark.stop()