In [1]:
import os, sys
os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['YARN_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['PYSPARK_PYTHON'] =  'python3.9'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'python3.9'
os.environ['HADOOP_USER_NAME']='ssenigov'

from pyspark.sql import SparkSession
from pyspark import SparkConf

In [ ]:
conf = SparkConf().setAppName('IsDistinctFrom').setMaster('yarn')
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:
sql = """
   select * from values 
    (1, 'Anna',  1), 
    (2, 'Bob',   1), 
    (3, 'Cindy', Null),
    (4, 'Lora', 0),
    (5, 'Henry',  Null),
    (6, 'John',  3) as (cust_id, cust_name, num_cars)
"""
spark.sql(sql).createOrReplaceTempView('tbl_num_cars')

In [4]:
spark.sql("""
  select cust_name, num_cars
   from tbl_num_cars 
  order by cust_id """).show()

+---------+--------+
|cust_name|num_cars|
+---------+--------+
|     Anna|       1|
|      Bob|       1|
|    Cindy|    null|
|     Lora|       0|
|    Henry|    null|
|     John|       3|
+---------+--------+

In [5]:
spark.sql("""
  select cust_name, num_cars
   from tbl_num_cars
  where num_cars > 0
  order by cust_id """).show()

+---------+--------+
|cust_name|num_cars|
+---------+--------+
|     Anna|       1|
|      Bob|       1|
|     John|       3|
+---------+--------+

In [6]:
spark.sql("""  
  select cust_name, num_cars
   from tbl_num_cars
  where num_cars != 0 
  order by cust_id """).show()

+---------+--------+
|cust_name|num_cars|
+---------+--------+
|     Anna|       1|
|      Bob|       1|
|     John|       3|
+---------+--------+

In [7]:
spark.sql("""
  select cust_name, num_cars
   from tbl_num_cars
  where num_cars is distinct from 0 
  order by cust_id """).show()

+---------+--------+
|cust_name|num_cars|
+---------+--------+
|     Anna|       1|
|      Bob|       1|
|    Cindy|    null|
|    Henry|    null|
|     John|       3|
+---------+--------+

In [8]:
spark.stop()