In [6]:
import os, sys
os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['YARN_CONF_DIR'] = '/etc/hadoop/conf'
# os.environ['JAVA_HOME']='/usr'
# os.environ['SPARK_HOME'] ='/usr/local/lib/python3.9/site-packages/pyspark/'
os.environ['PYSPARK_PYTHON'] =  'python3.9'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'python3.9'
os.environ['HADOOP_USER_NAME']='ssenigov'

from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import pyspark.sql.functions as F
# from pyspark.sql.functions import lpad, rpad

ModuleNotFoundError: No module named 'pandas'

In [2]:
conf = SparkConf().setAppName('ShowWithCollect')\
    .setMaster('yarn') \
    .set('spark.default.parallelism', '4')

spark = SparkSession.builder.config(conf=conf).enableHiveSupport().getOrCreate()

sc = spark.sparkContext
print("app_id".ljust(50), sc.applicationId)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/19 19:48:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/19 19:48:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/07/19 19:48:52 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/07/19 19:48:52 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/07/19 19:48:52 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/07/19 19:48:52 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
24/07/19 19:48:53 WARN DomainSocketFactory: The short-circuit local reads feature cannot be used because libhadoop cannot be loaded.
24/07/19 19:48:53 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

app_id                                             application_1711527309433_0430

In [3]:
import random
import pyspark.sql.functions as F
from datetime import date, timedelta

end = date.today()
start = end + timedelta(days=-365)
length_customers = 100

names = ['Bob', 'James', 'Marek', 'Johannes', 'Pierre', 'Jean', 'Thomas']
countries = ['bel', 'usa', 'fra', 'aus', 'ger', 'pol']

In [4]:
customers = list()
for i in range(length_customers):
    random_date = start + (end - start) * random.random()
    customer = (names[random.randint(0, len(names)-1)],         # name
                countries[random.randint(0, len(countries)-1)], # country
                random_date,                                    # last_order_date
                random.randint(-10000, 10000)               # balance
                )                                    
    customers.append(customer)

In [5]:
dfCust = spark.createDataFrame(data=customers, schema=["name","country","last_ord_dt", "bal"])
collected = dfCust.collect()
print(type(collected))

([' | '.join([i.name.ljust(12, ' '), 
              i.country, 
              str(i.last_ord_dt), 
              str(i.bal).rjust(10, ' ')]) for i in collected])

<class 'list'>

['Pierre       | aus | 2024-04-22 |      -5525',
 'Thomas       | usa | 2023-12-13 |      -1361',
 'Marek        | fra | 2024-03-22 |       7126',
 'Marek        | fra | 2023-12-25 |       9009',
 'James        | fra | 2023-08-06 |      -7107',
 'Johannes     | pol | 2023-12-06 |       9736',
 'Pierre       | bel | 2023-11-13 |       3252',
 'Pierre       | bel | 2024-01-24 |       4165',
 'James        | pol | 2024-04-05 |       5470',
 'James        | pol | 2024-06-26 |       5945',
 'Pierre       | fra | 2024-07-18 |      -7351',
 'Bob          | bel | 2023-11-19 |      -5309',
 'Johannes     | aus | 2023-11-17 |      -3875',
 'James        | pol | 2023-10-10 |      -6251',
 'James        | fra | 2024-07-09 |       1641',
 'Bob          | usa | 2024-02-13 |        692',
 'Bob          | bel | 2023-10-23 |      -1735',
 'Thomas       | ger | 2024-02-13 |      -1841',
 'Bob          | usa | 2024-06-23 |      -4630',
 'Bob          | ger | 2024-03-14 |      -6421',
 'Johannes     | aus | 2023-10-01 |      -5299',
 'James        | pol | 2024-03-02 |      -7635',
 'Thomas       | fra | 2023-12-24 |       2887',
 'James        | fra | 2024-07-16 |        423',
 'James        | pol | 2024-02-04 |       7342',
 'James        | pol | 2024-06-08 |      -6962',
 'Thomas       | bel | 2024-03-09 |       -892',
 'Thomas       | bel | 2024-05-02 |      -6876',
 'James        | ger | 2024-06-29 |       8359',
 'Johannes     | pol | 2023-10-04 |      -4794',
 'Jean         | pol | 2023-12-10 |      -1644',
 'Johannes     | bel | 2024-07-10 |      -8012',
 'Thomas       | pol | 2024-06-25 |       3893',
 'James        | bel | 2023-12-27 |        830',
 'Pierre       | ger | 2023-11-28 |      -6763',
 'Thomas       | bel | 2023-11-13 |      -1378',
 'Jean         | ger | 2024-06-20 |      -9838',
 'Bob          | pol | 2024-05-08 |       8724',
 'Pierre       | fra | 2023-10-19 |      -5747',
 'Bob          | usa | 2023-11-24 |      -4768',
 'Marek        | pol | 2023-12-08 |      -3503',
 'Thomas       | aus | 2023-08-16 |       1344',
 'Bob          | pol | 2023-09-15 |       2417',
 'Thomas       | ger | 2024-03-27 |       9041',
 'Jean         | fra | 2024-05-15 |      -5375',
 'Pierre       | aus | 2024-01-30 |      -9525',
 'Bob          | bel | 2023-08-07 |       4554',
 'Pierre       | ger | 2023-12-16 |       5405',
 'Jean         | ger | 2023-10-21 |      -1444',
 'Marek        | pol | 2024-03-22 |      -8896',
 'Jean         | ger | 2023-11-20 |       5366',
 'Johannes     | ger | 2023-08-07 |       5701',
 'Jean         | bel | 2024-06-04 |       4759',
 'Marek        | ger | 2023-12-21 |      -5415',
 'Thomas       | fra | 2023-12-12 |      -5611',
 'Marek        | bel | 2023-09-18 |      -2640',
 'Bob          | aus | 2024-03-03 |       -138',
 'Thomas       | aus | 2023-10-13 |       8669',
 'Pierre       | fra | 2023-09-16 |       5481',
 'Marek        | ger | 2024-03-23 |       3627',
 'Marek        | aus | 2024-02-28 |       4631',
 'James        | bel | 2023-12-18 |      -2468',
 'Marek        | usa | 2024-06-29 |      -4669',
 'Thomas       | aus | 2024-04-02 |        553',
 'Thomas       | aus | 2023-10-24 |      -3132',
 'Jean         | aus | 2024-05-09 |      -7455',
 'Pierre       | aus | 2024-05-18 |       9656',
 'Pierre       | fra | 2024-01-28 |       7480',
 'Jean         | ger | 2024-05-03 |      -5442',
 'Jean         | ger | 2023-09-16 |       -657',
 'Bob          | pol | 2024-01-27 |       8537',
 'Jean         | aus | 2024-01-04 |       6207',
 'Thomas       | aus | 2023-10-17 |      -8517',
 'Pierre       | ger | 2023-12-16 |      -9616',
 'Bob          | ger | 2024-03-18 |      -5323',
 'Bob          | aus | 2024-02-27 |       2824',
 'James        | aus | 2023-07-25 |      -8372',
 'Jean         | ger | 2024-05-26 |       2453',
 'Bob          | aus | 2024-07-09 |       5872',
 'Jean         | fra | 2023-10-31 |      -9925',
 'Thomas       | usa | 2024-05-13 |       3404',
 'Jean         | usa | 2023-07-25 |       1453',
 'Bob          | bel | 2024-03-31 |       5916',
 'Marek        | aus | 2024-02-09 |       9566',
 'Bob          | bel | 2024-06-21 |       9534',
 'James        | pol | 2023-11-19 |      -2264',
 'James        | ger | 2023-10-01 |      -3504',
 'Johannes     | aus | 2024-02-26 |       5584',
 'Jean         | bel | 2023-12-23 |      -6803',
 'Marek        | pol | 2023-10-05 |      -2120',
 'Bob          | pol | 2024-05-30 |       6875',
 'James        | ger | 2023-08-27 |       8273',
 'Jean         | bel | 2023-10-28 |      -7717',
 'James        | fra | 2023-12-11 |      -8987',
 'Jean         | usa | 2023-10-15 |      -1759',
 'Jean         | bel | 2023-09-09 |       8591',
 'Bob          | usa | 2024-05-27 |      -1172',
 'Jean         | bel | 2024-02-02 |       5073',
 'Jean         | pol | 2023-08-24 |       5555',
 'Marek        | bel | 2023-10-18 |      -2772']

In [ ]:
# df_customers = df_customers.withColumn("name", F.rpad(F.col("name"), 10, " "))\
#     .withColumn("last_ord_dt", F.date_format(F.col("last_ord_dt"),"yyyy-MM-dd"))\
#     .withColumn("bal_str", F.format_number(F.col("bal").cast("double"), 2))\
#     .withColumn("bal", F.lpad(F.col("bal_str"), 12, " "))\
#     .drop("bal_str")

In [20]:
df_customers = df_customers.withColumn("name", F.rpad(F.col("name"), 10, " "))\
    .withColumn("last_ord_dt", F.date_format(F.col("last_ord_dt"),"yyyy-MM-dd"))\
    .withColumn("bal_str", F.format_number(F.col("bal").cast("double"), 2))\
    .withColumn("bal_str", F.regexp_replace(F.regexp_replace(F.regexp_replace(
            F.col("bal_str"), '\\.', '#'), ',', '\\.'), '#', ','))\
    .withColumn("bal", F.lpad(F.col("bal_str"), 14, " "))\
    .drop("bal_str")
    # .withColumn("bal_string", F.lpad(df_customers["bal_string"], 8, " "))\


    # .withColumn("bal", F.lpad(df_customers["bal"], 8, " "))\
# .withColumn("russian_format", F.regexp_replace(F.regexp_replace(F.regexp_replace(
#         F.col("bal_string"), '\\.', '#'), ',', ' '), '#', ','))\

+----+-----+-----+
|year|month|count|
+----+-----+-----+
|2024|    5|    5|
+----+-----+-----+

In [4]:
--

SyntaxError: invalid syntax (88891658.py, line 1)

In [25]:
spark.stop()